section {
    padding-top: 80px;

    h1,
    h4 {
        padding-bottom: 50px;
    }

    .card-container {
        .card {
            margin: 20px;
            border: 1px solid blue;
        }
    }

    .left-side-menu {
        width: 20%;
    }

    .right-panel {
        width: 80%;

        img {
            width: 100%;
        }
    }
}